@charset "utp-8";

body {
    min-width: 100%; 

    font-family: 'Noto Sans KR', sans-serif;


    --swiper-navigation-size: 25px;

}

.box_1200 {
    margin: 0 auto;

    width: 90% ;
    
    /* outline: 1px solid aqua; */
}

/* =================== 헤더 ===================  */

.bg {
    height: auto;

    background-position: 50%;

    height: 500px;
    background-position: left;
}


.bg_hl,.bg_hr {
    display: none;
}

.logo {
    height: 100px;
    width: 80%;
}

.bg_head {
    justify-content: center;
    
    padding-top: 20px;
    height: 125px;
}


.gnb {
    width: 100%;

    justify-content: space-around;

    margin-top: 5px;
}

.gnb::after {
    width: 111%;
    top: 30px;

    background: #ccc;
}

.gnb > li {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0px;

    color: white;

    
}
 
ul.gnb li a:link, ul.gnb li a:visited {
    color: white;
}


.comm_txt {
    width: 90%;
}


ul.gnb li a:hover::after {
    display: none;
}

h1 {
    font-size: 2rem;
    margin-top: 80px;

    /* color: #231F20; */
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0);

}

h3 {
    font-size: 1rem;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 20px;

    /* color: #231F20; */
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0);
    position: relative;

}

.line-1 {
    width: 100%;
    white-space:normal;
    overflow:visible;
    border-right: none;
    transform: translateY(0%);    


}

.anim-typewriter {
    animation: none;
}



.bg_t > span {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0%);

}

/* .bg_t > span {

} */

.bg_t > span:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.bg_t h3 br {
    display: block;
}


/* =================== 섹션1 ) 히스토리  ===================  */



.history {
    /* margin-top: 230px; */
    height: 700px;
}

h2 {
    font-size: 1.6rem;
}
.comm_txt.his > h2 {
    padding-top: 50px;
}


.comm_txt > span:nth-child(2) {
    padding-top: 15px;
    font-size: 1.15rem;

    text-align: left;

    padding-left: 10px;
    padding-right: 10px;

    word-break: keep-all;

}

.comm_txt > span:last-child {
    font-size: 0.9rem;

    text-align: left;
}

.yzrs {
    width: 100%;
}



.his_img {
    left: auto;

    width: 100%;

    position: relative;
}

.his_y {
    position: relative;
    top: auto;
    right: auto;

    font-size: 3rem;
}

section .tabV {
    flex-direction: column;
    margin-top: 45px;
}

section .tabV ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


section .tabV ul li::before {
    display: none;
}

section .tabV .content{
    width: 100%;
  
}

section .tabV ul li:hover::after, section .tabV ul li.on::after{
    top: 26%;
    left: 12%;
    width: 45px;
}

section .tabV ul li {
    width: 20%;
    height: 20px;
    line-height: 20px;

    padding: 0px 0px;
}

.history {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comm_txt > span:nth-child(2) {
    padding-top: 15px;
    font-size: 1.15rem;

    text-align: center;

}

.comm_txt > span:nth-child(3) {
    display: none;
}

.swiper-slide.his_sd {
    height: 500px;
}



/* =================== 섹션2 ) 가치관  ===================  */


/* ㅡㅡㅡㅡㅡㅡ sec1 value ㅡㅡㅡㅡㅡ  */

.con1Swiper2 .swiper-slide {
    height: 330px;
}

.con1Swiper .swiper-slide {
    height: 100px;
}

.val_txt > div > span {
    font-size: 0.9rem;

    padding: 0px 15px;
    margin-top: 20px;
}

.val_txt > div > span br {
    display: none;
}

.val_png div span:nth-child(2) {
/* 영어부분 지움 */
    display: none;
}

.thumb > p {
    font-size: 0.95rem;
}


.val_txt > div > p {
    margin-top: 75px;
}

.val_txt > div > p::after {
    bottom: -40%;
    left: 46.5%;
}




/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.value {
    margin-top: 100px;

}

section .tab ul,
section .tab2 ul {
    justify-content: space-around;

}

section .tab ul li {
    padding: 10px;
    font-size: 1rem;
}

section .tab ul::after {
    width: 100%;

}

.con_box > div > h2 {
    margin-top: 50px;
}


.val_social > h2 span {
    display: none;
}



.w_map > div:first-child {
    width: 100%;
    margin-top: 60px;

    background-size: 75%,100%;

    /* height: 150px; */
}

.w_map > .map {
    background: none;
}

.map div span:first-child::before{
    display: none;
}

.map div span:first-child {
    position: relative;
    padding-left: 0px;

    display: inline-block;
    width: 100%;
    height: 100%;
    /* outline: 1px solid blue; */
    background-color: #FDB913;
}

.mob {
    display: none;
}


/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm수정점 */


.map_icon {
    width: 100%;
    justify-content: space-between;
}



.map_count::after,
.map_icon > a::after,
.map_icon > a.on::before {
    display: none;
}

/* .map_icon > a {
    font-size: 0.85rem;
} */

.map_icon > a {
    font-size: 0.85rem;
    padding-right: 0px;
}

.map_icon > a:nth-child(1),
.map_icon > a:nth-child(2),
.map_icon > a:nth-child(3),
.map_icon > a:nth-child(4),
.map_icon > a:nth-child(5) {
  padding-left: 0px;
}


.map_count > p {
    font-size: 1.2rem;
    font-weight: 400;
}

.map_count > p > span {
    font-size: 1.4rem;
    font-weight: 500;
}

.map_count > p > span + br {
    display: block;
}

/* .map, .map_icon {
    display: none;
} */

.map_count::before {
    width: 80%;
    bottom: 30px;
    left: 10px;
}


.map_count {
    margin-top: 30px;
}

section .tab ul li:hover::after, section .tab ul li.on::after
{
    display: none;
}

.comm_txt {
    width: 100%;
}

section .tab .conBox {
    padding: 0px;
}


section .tab ul::after,
section .tab2 ul::after {
    bottom: 5px;
}

.comm_txt.ice > h2 {
    margin-top: 100px;
}

section .tab2 ul li {
    padding: 0;
}





/* ㅡㅡㅡㅡㅡ사회활동ㅡㅡㅡㅡㅡㅡㅡㅡ */

.con3 {
    height: 350px;
}
/* 이거쓰니까 끝남 */


/* =================== 아이스크림 ===================  */

/* section .tabV, */

.tab2 {
    display: none;
} 



section .tab2 ul::after {
    width: 100%;
}


.plaic {
    font-size: 2.22rem;

}


section .tab2 ul li {
    padding: 10px;
    font-size: 1.1rem;
}

.ice_cr {
    margin-top: 100px;
    height: 1100px;
}


.bg_sol {
    background-position: bottom, top;
    background-size: auto, 120%;
}

section .tab2 ul::after {

    width: 100%;
}

section .tab2 .conBox {
    padding: 0px;
}

.section .tab2 .conBox {
    flex-direction: column;
}

.chrr {
    /* width: 100%; */
    background-size: 50%;
    left: 0px;
    background-position: top,50%;

    height: 320px;
}

.ice_exp {
    width: 100%;
}


.ice_exp {
    display: none;
}

.swiper-slide{
    height: 500px;
}

.hisSwiper.swiper-container{
    height: 500px;
    width: 90%;
}

.tab2 > .all_ice_menu {
    height: 500px;

}


/* ㅡㅡㅡ */
section .tab2 ul li:hover::after, section .tab2 ul li.on::after {
    display: none;
}

.bg_sol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ice_cr {
    margin-top: 100px;
    height: 600px;
}





/* =================== 스크롤 ===================  */

.scroll {
    display: none;
}










/* =================== 푸터 ===================  */

.f_menu {
    justify-content: space-between;
}

.f_menu > a {
    font-size: 0.7rem;
}

.foot_con {
    flex-direction: column;
}

.f_bott > p {
    font-size: 0.7rem;
    padding: 10px;
}

.cu {
    display: none;
}


.foot_txt > span {
    font-size: 0.7rem;
}

.sns_icon {
    display: flex;
    justify-content: center;
  
}
.sns_icon > div:first-child,
.sns_icon > div:last-child {
    width: 22px;
    height: 22px;
}

.sns_icon div a {
    width: 22px;
    height: 22px;
}



/* =================== 탭 ===================  */

/* 히스토리 tabV */
section .tabV .conBox {
    width: 100%;
}

section .tabV ul {
    width: 90%;

    position: relative;
    
}

section .tabV ul::after {
    content: "";

    width: 100%;
    height: 1px;
    background: #FDB913;

    position: absolute;
    
    bottom: 0;
}

section .tabV .content{
    width: 100%;
   
}

.swiper-pagination-custom, .swiper-pagination-fraction {
    font-size: 0.8rem;
}

