@charset "utp-8";

/* 폰트  */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
/* DarkerGroteque + NotoSansKr + Shrikhand */
/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Shrikhand', cursive; */



/* =================== 초기선언 ===================  */

* {
    padding: 0;
    margin: 0;

    /* outline: 1px solid springgreen; */

    box-sizing: border-box;
    /* 아예 성질 바꾸는 거 */

}


body {
    min-width: 1280px;
    /* 이거보다 작아지면 스크롤바 생김 */

    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Darker Grotesque', sans-serif;

    font-size: 16px;
    color: black;

    /* text-align: center; */
}

.box_1200 {
    /* 1200px */
    width: 1200px;

    margin: 0 auto;

    /* outline: 1px solid aqua; */
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


/* =================== 공통 ===================  */


a:link,
a:hover,
a:visited,
a:active {
    color: black;
}

.w_h_100 {
    width: 100%;
    height: 100vh;
}

/* width: 100vW; 이거 했는데 이상한 스크롤바 생겨서 지웠다 */


.dis_none {
    display: none;
    /* 임시 */
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


/* =================== 섹션 1 ===================  */

.sec1 {
    /* background-color: white; */
}


.bg {
    
    /* height: 1080px; */
    width: 100%;
    height: 100vh;

    display: flex;

    overflow: hidden;

    position: relative;

}

.bg_ky {

    width: 65vw;
    height: 100%;
    background-image: url(../images/bg_crop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;


    opacity: 85%;

    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;

}

/* ㅡㅡㅡㅡ체커ㅡㅡㅡㅡㅡ */

.checker {
    width: 8.5vw;
    background-image: url(../images/checker.png);
    background-repeat: repeat;
    background-position: top;
    background-size: contain;

}

/* ㅡㅡㅡㅡ박스rㅡㅡㅡㅡㅡ */


.box_r {
    width: 91.5vw;
    height: 100%;
}


.box_t {
    height: 81vh;
    display: flex;

    position: relative;
}

.main {
    width: 100%;

    position: relative;
}

.acc {
    height: 90px;
    width: 370px;

    /* padding: 12px; */

    border: solid 4px black;
    border-radius: 45px;

    background-color: #F4EBDA;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -4%;
    top: 8%;
      
}

.acc:hover {
    background-color: #3062CC;
}

.acc > p {

    /* font-family: 'Darker Grotesque', sans-serif; */
    font-size: 40px;
    font-weight: bold;

}

.hbd {
    width: 100vw;
    height: 100%;

    padding-top: 32vh;
}


.hbd_t {

    width: 100%;
    height: 300px;

    margin-left: 50px;

    background-image: url(../images/hbd_t.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

h3 {

    width: 25%;

    margin-left: 100px;
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 35px;

    font-weight: 500;
    font-size: 1.5rem;
    color: black;

}

h3 > span {
    font-weight: 600;
}

.kayo {

    width: 30vh;
    height: 30vh;

    background-image: url(../images/sit_k.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left: -12%;
    bottom: -8%;

}

.logo {
    height: 350px;
    width: 350px;

    /* background-color: blue; */

    position: absolute;
    right: -100px;
    top: -100px;
    
}

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

.mawaru {
    height: inherit;
    width: inherit;

    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    animation: rotate ease-in-out 10s reverse infinite;
 
}


.box_b {

    margin-top: 5vh;

    height: 8vh;
    /* background-color: rgb(194, 218, 219); */
}

.ohio {
    width: 100%;
    height: inherit;

    background-image: url(../images/ohio.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: left;
}


/* =================== 섹션 2 ===================  */

.sec2 {
    width: 100%;
    height: 95%;

    position: absolute;
    top: 47vh;

    /* background-color: rgb(130, 138, 208); */

    transition: all 1s;
}

.sec2:hover {
    transform: translateY(-40vh);
}

.foo_let {
    width: inherit;
    height: inherit;

    /* position: relative; */
}

.f_f {
    
    width: 100%;
    height: 30.5vw;

    position: relative;

    /* background-color: rgb(124, 184, 184); */
}


.footer {
    height: 7vh;
    width: 100%;

    background-color: #3062CC;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    border-top: solid 3px black;
    border-bottom: solid 3px black;

}

.f_ky {

    width: 30vw;
    height: 30vw;

    background-image: url(../images/f_ky.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    right : -60%;

    z-index: 100;

}

h6 {

    color: white;
    font-size: 1rem;

    /* text-align: center; */

}

.letter {
    width: 100%;
    height: 40vh;

    background-color: darkolivegreen;

    display: flex;

    /* position: relative; */
}

.nana_box {
    width: 30%;
    height: inherit;

    /* padding-top: 40px;
    padding-right: 40px; */

    position: relative;

}

.nana {
    width: 100%;
    height: 100%;

    background-color: #FE87A2;

    background-image: url(../images/luv.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 0;
    bottom: 0;
    

}

.let_box {
    width: 70%;
    height: inherit;

    background-color: #FE87A2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.let_env {
    width: 90%;
    height: 75%;

    padding: 35px;


    border: solid 3px black;

    background-color: #F4EBDA;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.let_l, .let_r  {
    width: 45%;
    height: 90%;

    /* background-color: #3062CC; */

    overflow: hidden;

}

.let_20 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
}

.let_20+p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

    margin-top: 7%;

    text-align: center;
}

.line {
    width: 1px;
    height: 80%;

    background-color: black;
}


